{% extends "base.html"%}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home_header.css') }}">
{% endblock %}

{% block header %}
    <div class="ellipse"></div>
    <span class="slogan">
        <p>ТЕХНОЛОГІЇ</p>
        <p>ЯКІ ЗМІНЮЮТЬ РЕАЛЬНІСТЬ</p>
    </span>
    <img class="drones" src="{{ url_for('home.static', filename= 'icon/drones.svg') }}" alt="">
    <div class="to-catalog">
        <p>Передові технології в одному місці. Обирай найкраще для найважливішого.</p>
        <a href="">ДО КАТАЛОГУ</a>
    </div>
{% endblock %}

{% block content %}
    <div class="center-block">
        <h3> КОНТЕНТ </h3>
    </div>
    <div class="bottomside-block">
        <div class="ellipse-bottom">
        </div>
        <div class = "rating">
            <div class = "rating__element">
                <h4>1K+</h4>
                <p>Успішних відправок</p>
            </div>
            <div class = "rating__element">
                <h4>1.5K+</h4>
                <p>Задоволених клієнтів</p>
            </div>
            <div class = "rating__element">
                <h4>24/7</h4>
                <p>Підтримка клієнтів</p>
            </div>
        </div>
        <img class="logo-img" alt="">
    </div>
{% endblock %}